@media screen and (min-width:769px) and (max-width:996px) {
.user-info-navbar {
    display: none;
    }
}
@media screen and (max-width:768px) {
    .mobile-menu-toggle a {
    color: #ebebeb!important;
}
	.visible-xs:after {
		background-image: url(https://www.subarist.net/assets/favicon-3zw7clrx.png);
		background-size: 35px 35px;
		display: block;
		width: 35px;
		height: 35px;
		margin-top: -29px;
		content: "";
		margin-left: 46px;
	}
	.box2 {
		height: 135px!important;
		margin-top: 15px;
	}
	.page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a i {
    font-size: 20px;
}
	.page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle {
    position: absolute;
    left: -6px;
    top: 13px;
	}
	.page-container .sidebar-menu .sidebar-menu-inner .logo-env {
		padding-top: 15px;
		padding-bottom: 12px;
		border: none;
	}
	.sidebar-menu .logo-env .logo {
    display: flex;
    float: none;
    justify-content: center;
	}
	.page-container .main-content {
		margin-top: -40px;
	}
	.row {
		margin-left: -30px;
		margin-right: -20px;
	}
	.sidebar-menu {
		background: #15202b;
		transition: box-shadow .2s,transform .2s;
}
	.user-info-navbar {
		background-color: #15202b;
	}
	.user-info-navbar .user-info-menu>li>a {
		border: 0;
	}
	.user-info-navbar .user-info-menu>li {
		border: 0;
	}
	footer.main-footer {
		border-top: 1px solid #313437;
		margin-top: 30px;
		background-color: transparent;
		font-size: 14px;
		color: #979798;
	}
	.xe-widget.xe-conversations {
		background: #273340;
		margin-left: 10px;
		border-radius: 8px;
		border-color: #38444d;
		;
	}
	.sidebar-menu .main-menu a {
		color: #ebebeb;
		font-size: 14px;
	}
	.sidebar-menu .main-menu a>i {
    width: 15px;
    display: inline-flex;
    justify-content: center;
    }
	p {
		color: #e4e6eb;
	}
	.row a {
		color: #76b4ff;
		font-size: 16px;
	}
	body {
		background-color: #15202b;
		font-size: 14px;
	}
	p.overflowClip_3 {
		color: #ff7866;
	}
	.col-sm-5 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo h1 {
		font-size: 18px!important;
		color: #1d9bf0!important;

	}
	.text-gray {
		color: #e4e6eb;
		font-weight: bolder;
		font-size: 15px!important;
	}
	.scroll-top {
		right: 20px;
		position: fixed;
		bottom: 125px;
		z-index: 99;
		outline: none;
		background-color: rgba(0, 0, 0, 0.5) !important;
		border: 1px solid transparent;
		cursor: pointer;
		border-radius: 14px;
		text-decoration: none;
		width: 41px;
		height: 41px;
		opacity: 0.4;
		font-size: 16px;
		color: #ddd;
		display: none;
	}
	.scroll-bottom {
		right: 20px;
		position: fixed;
		bottom: 80px;
		z-index: 99;
		outline: none;
		background-color: rgba(0, 0, 0, 0.5) !important;
		border: 1px solid transparent;
		cursor: pointer;
		border-radius: 14px;
		text-decoration: none;
		width: 41px;
		height: 41px;
		opacity: 0.4;
		font-size: 16px;
		color: #ddd;
		display: none;
	}
}
@media screen and (min-width:768px) {
	.sidebar-menu .logo-env .logo {
		margin-bottom: 5px;
		margin-left: 10px;
		margin-top: -24px;
	}
	.sidebar-menu .logo-env {
		border: none;
		padding: 15px 50px;
		margin-bottom: -15px;
	}
	.sidebar-menu {
		background: #15202b;
	}
	.sidebar-menu .main-menu {
		padding-left: 60px;
		margin-top: 30px;
	}
	.user-info-navbar {
		background-color: #15202b;
    margin: -55px 20px -10px 0;
	}
	.user-info-navbar .user-info-menu>li>a {
		border: 0;
	}
	.user-info-navbar .user-info-menu>li {
		border: 0;
	}
	footer.main-footer {
		border-top: 1px solid #313437;
		margin-top: 30px;
		background-color: transparent;
		font-size: 14px;
		color: #979798;
	}
	.xe-widget.xe-conversations {
		background: transparent;
		margin-left: 10px;
		border-radius: 8px;
		border-color: #38444d;
		
	}
	.sidebar-menu .main-menu a {
		color: #ebebeb;
		font-size: 15px;
		padding: 12px 40px 12px 5px;
        border-bottom: none;
	}
	.sidebar-menu .main-menu a>i {
    width: 15px;
    display: inline-flex;
    justify-content: center;
    }
	.box2 {
		height: 135px;
		margin-top: 15px;
	}
	p {
		color: #e4e6eb;
	}
	.row a {
		color: #76b4ff;
		font-size: 16px;
	}
	body {
		background-color: #15202b;
		font-size: 14px;
		max-width: 1300px;
		margin: 15px auto 0 auto;
	}
	.col-sm-5 {
		width: 47%;
	}
	p.overflowClip_3 {
		color: #ff7866;
	}
	.logo h1 {
		background: url(https://www.subarist.net/assets/logo-yzli5vki.png) 0 0 no-repeat;
		width: 146px;
		height: 35px;
		background-size: 100%;
		font-size: 0!important;
	}
	.text-gray {
		color: #e4e6eb;
		font-weight: bolder;
	}
	.scroll-top {
		right: 18px;
		position: fixed;
		bottom: 105px;
		z-index: 99;
		outline: none;
		background-color: rgba(0, 0, 0, 0.5) !important;
		border: 1px solid transparent;
		cursor: pointer;
		border-radius: 12px;
		text-decoration: none;
		width: 40px;
		height: 40px;
		opacity: 0.4;
		font-size: 16px;
		color: #ddd;
		display: none;
	}
	.scroll-bottom {
		right: 18px;
		position: fixed;
		bottom: 60px;
		z-index: 99;
		outline: none;
		background-color: rgba(0, 0, 0, 0.5) !important;
		border: 1px solid transparent;
		cursor: pointer;
		border-radius: 12px;
		text-decoration: none;
		width: 40px;
		height: 40px;
		opacity: 0.4;
		font-size: 16px;
		color: #ddd;
		display: none;
	}
}
.sidebar-menu.fixed .sidebar-menu-inner {
	left: auto;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, Cantarell, Oxygen, Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.55;
}
a:hover:not(.mobile-menu-toggle a:hover) {
	color: #76b4ff!important;
}
.sidebar-menu .main-menu li.active>a {
	color: #76b4ff!important;
}
.overflowClip_1 {
	margin-bottom: 3px;
}
.overflowClip_2 {
	-webkit-line-clamp: 3;
	margin-bottom: 2px!important;
}
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.fade {
	display: none!important;
}

.img-circle {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 0 0;
    margin-top: 5px;
}

.xe-comment {
    margin-left: 60px;
}